<aside class="main-sidebar">
    <section class="sidebar">
        @* BEGIN Search *@
        <!--<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>-->
        @* END Search *@
        @* BEGIN Menu *@
        <ul class="sidebar-menu">
            <li class="header">Menu</li>
            <li><a href="@Url.Action("Index","Home")" class="active glyphicon glyphicon-dashboard"> <span>Résumé</span></a></li>
            <li><a href="@Url.Action("Souscrire","Abonnement")" class="glyphicon glyphicon-flash"> <span>Abonnement</span></a></li>
            <li><a href="@Url.Action("Acheter","Ticket")" class="glyphicon glyphicon-repeat"> <span>Ticket</span></a></li>
            @if (User.IsInRole("admin"))
            {
                <li><a href="@Url.Action("Stat","Statistique")" class="glyphicon glyphicon-stats"> <span>Statistique</span></a></li>
            }
            <!--<li class="treeview">
                <a href="#">
                    <i class="fa fa-link"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Link in level 2</a></li>
                    <li><a href="#">Link in level 2</a></li>
                </ul>
            </li>-->
        </ul>
        @* END Menu *@
    </section>
</aside>